{% load i18n %}
CTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>Souce code Statistics</title>
</head>

<body>
    <div class="header">
        <div class="title">Source code statistics</div>
        <hr>
    </div>
    <div class="content">
        {% block content %}content area {% endblock %}
    </div>
    <div class="footer">
        <hr>
        <div class="copyright">Powered by SRCSTATS </div>
    </div>
</body>


