/* main style file */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
}
*:active {outline:none;}

body {
    background-color: #EFEFEF;
    color: #666666; 
    font-family: helvetica;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width:960px;
}

#wrapper {
    margin-top:50px;
    float:left;
    border:1px solid #DDDDDD;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 20px #666666;
    -webkit-box-shadow:0 0 20px #666666;
    box-shadow:0 0 20px #666666;
}

#header {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px
    border-radius:5px 5px 0 0;
    text-align:center;
}
#headmenu {
    margin-bottom:15px;
    background-color:#DDDDDD;
    border-bottom:1px solid #DCDCDC;
    border-top:1px solid #DCDCDC;
}
#adminmenu {
    background-color:#AAAAAA;
    border-bottom:1px solid #DCDCDC;
    border-top:1px solid #DCDCDC;
}
.warn {
    background-color:#DDDDDD;
    border-bottom:1px solid #DCDCDC;
    border-top:1px solid #DCDCDC;
    margin-top:15px;
    margin-bottom:15px;
}
#container {
    /*padding:20px 0;
     */
    padding-top: 0px;
    text-align:left;
    /*
    width:600px;
    */
}

#column-main {
    width: 640px;
    float: left;
}
#column-right {
    width: 300px;
    float: right;
}
h2.caption {
    height: 24px;
    background-color: #DDDDDD;
    padding-left: 5px;
    padding-right: 5px;
}
div.part {
    border: 1px solid #DDDDDD;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
}
#footer {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-radius:0 0 5px 5px;
    background-color:#DDDDDD;
    border-top:1px solid #DCDCDC;
    text-align:center;
}
.box {
    margin:0;
    padding:15px;
    position:relative;
    text-align:left;
    width:960px;
    float:left;
}
#header h1 {
    color:#FFFFFF;
    font-family:arial;
    margin:0 auto;
    text-shadow:1px 1px 5px #666666;
}
dl.list {
    clear: both;
    overflow: hidden;
}
dl.list dt {
    clear: both;
    float: left;
    width: 40%;
}
dl.list dd {
    float: left;
    width: 60%
}
dd.header, dt.header {
    font-weight: bold;
    border-bottom: 1px dashed #DDDDDD;
}

ul {
    list-style:none outside none;
}
ul > li {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color:#EFEFEF;
    border:1px solid #AAAAAA;
    display:block;
    float:left;
    margin-right:10px;
}
ul > li:hover {
    background-color:#DDDDDD;
}
ul li a {
    display:block;
    padding:4px 15px;
}
a, ul li a:hover {
    color:#666666;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
table {
    border-collapse:collapse;
    width:100%;
}
td {
    font-size:12px;
    padding:10px;
    text-align:right;
    vertical-align:middle;
}
td + td {
    text-align:left;
}




